{{ define "body_class" }}post-template{{ end }}
{{ define "main" }}
<article class="content">
  <header class="title">
    {{ with .Params.image }}
    <img src="{{ . }}"/>
    {{ end }}
    <h1 class="title is-3">{{ .Title }}</h1>
    {{ partial "post-meta.html" .}}
  </header>
  {{ .Content }}
  <footer class="level">
    <!-- Tags -->
    {{ with .Params.tags -}}
    <div class="tags level-left">
    {{ range . }}
    {{- $name := . -}}
      {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
      <a class="tag" href="{{ .Permalink }}">{{ $name }}</a>
      {{ end -}}
    {{ end }}
    </div>
    {{ else }}
      <div class="level-left"></div>
    {{- end }}

    <!-- Share Links -->
    <div class="level-right">
      <a class="share-link" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .URL | absURL }}" target="_blank" rel="noopener noreferrer">{{ partial "icons/facebook.svg" }}</a>
      <a class="share-link" title="Share on Reddit" href="https://reddit.com/submit?url={{ .URL | absURL }}&title={{ .Title }}" target="_blank" rel="noopener noreferrer">{{ partial "icons/reddit.svg" }}</a>
      <a class="share-link" title="Share on Twitter" href="https://twitter.com/share?url={{ .URL | absURL }}&text={{ .Title }}" target="_blank" rel="noopener noreferrer">{{ partial "icons/twitter.svg" }}</a>
    </div>
  </footer>
</article>
{{ partial "comments.html" . }}
{{ end }}
{{ define "credits" }}
  <div class="section is-italic">Facebook and Twitter icons by <a class="has-text-light has-text-underlined" href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> provided under <a class="has-text-light has-text-underlined" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a> license</div>
{{ end }}