a {
  text-decoration: none;
  padding: 4px;
}
a:hover {
  text-decoration: underline;
}
a, a:hover, a:visited {
  color: #360BA2;
}
.align-right {
  text-align: right;
}
body {
  background-color: #fafafa;
  color: #161718;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.75rem;
  font-size: 1.2rem;
}
button {
  background-color: #360BA2;
  color: #fff;
  cursor: pointer;
  padding: calc(.5em - 1px) 1em;
  border: 1px solid transparent;
  border-radius: .375em;
  box-shadow: none;
  font-size: 1rem;
}
button:hover {
  background-color: #300892;
}
.center {
  text-align: center;
}
code {
  display: inline-block;
}
.hidden {
  display: none;
}
header {
  padding: 7rem 0 5rem;
}
h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin: 1rem;
}
.home {
  padding: 4px;
  position: absolute;
}
input, textarea {
  max-width: 100%;
  width: 100%;
  border-color: #dbdbdb;
  border-radius: .375em;
}
.justify-center {
  display: flex;
  justify-content: center;
}
label {
  font-weight: 700;
}
img {
  max-width: 100%;
}
.img-link > a {
  display: flex;
  align-items: center;
}
.img-link > a > img, .img-link > a > svg {
  margin-right: 4px;
}
main {
  max-width: 700px;
  margin: 0 auto;
}
.margin-2 {
  margin: 2rem;
}
.margin-right-1 {
  margin-right: 1rem;
}
.max-width-500 {
  max-width: 500px;
}
.padding-6 {
  padding: 6rem;
}
section {
  padding-bottom: 1rem;
}
textarea {
  height: 6rem;
}
.unstyled-list {
  padding: 0;
  list-style-type: none;
}
.youtube {
  display: block;
  height: 21rem;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  a, a:hover, a:visited {
    color: #66AADE;
  }
  body {
    color: #dadada;
    background-color: #161718;
  }
  button {
    background-color: #3e8ed0;
  }
  button:hover {
    background-color: #3488ce;
  }
  #github-logo {
    filter: invert(1);
  }
  input, textarea {
    background-color: #292827;
  }
  input::placeholder {
    color: #fafafa;
  }
}