a {
  color: #35579B;
  text-decoration: none;
  padding: 4px;
}
a:hover {
  color: #35579B;
  text-decoration: underline;
}
body {
  background-color: #fafafa;
  color: #161718;
  font-family: Inter,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.75rem;
  font-size: 1.2rem;
}
.center {
  text-align: center;
}
.field {
  margin-bottom: .75rem;
}
.hidden {
  display: none;
}
header {
  padding: 7rem 0 5rem;
}
h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin: 1rem;
}
input, textarea {
  max-width: 100%;
  width: 100%;
  border-color: #dbdbdb;
  border-radius: .375em;
}
.justify-center {
  display: flex;
  justify-content: center;
}
label {
  font-weight: 700;
}
img {
  max-width: 100%;
}
main {
  max-width: 700px;
  margin: 0 auto;
}
section {
  padding-bottom: 2rem;
}
textarea {
  height: 6rem;
}
@media (prefers-color-scheme: dark) {
  color: #fafafa;
  background-color: #161718;

  a {
    color: #4B89BF;
  }
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/Inter-VariableFont_slnt,wght.woff2) format("woff2"), local(BlinkMacSystemFont), local(-apple-system), local("Segoe UI"), local(Roboto), local(Oxygen), local(Ubuntu), local(Cantarell), local("Fira Sans"), local("Droid Sans"), local("Helvetica Neue"), local(Helvetica), local(Arial), local(sans-serif);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
