<!DOCTYPE html> <!-- HTML5 -->
<html lang="{{ .Site.Language.Lang }}">
    {{ partial "head.html" . }}
    <body>
        <div class="section">
            <div class="container">
                {{ block "header" . }}
                <header class="title">
                    <h2><a class="is-plain" href="/">{{ .Site.Title }}</a></h2>
                </header>
                {{ end }}
            </div>
            <main class="container is-readable-column">
            {{ block "main" . }}{{ end }}
            </main>
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <a class="is-plain" href="/">Home</a>
                <a class="is-plain is-spaced-footer-link rss-button" title="Subscribe to RSS" href="/index.xml">{{ partial "icons/rss.svg" }}Subscribe</a>
                {{ range .Site.Menus.main }}
                    <a class="is-plain is-spaced-footer-link" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
                {{ end }}
                {{ block "credits" . }}{{ end }}
                <p>
                <div>©{{ now.Format "2006" }} {{ .Site.Copyright }}</div>
            </div>
        </footer>
        {{ block "end-scripts" . }}{{ end }}
    </body>
</html>
