<!DOCTYPE html> <!-- HTML5 -->
<html lang="{{ .Site.Language.Lang }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <section class="section">
            <main id="main" class="container">
            {{ block "main" . }}{{ end }}
            </main>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <a class="has-text-dark" title="Subscribe to RSS" href="/index.xml">{{ partial "icons/rss.svg" }}Subscribe</a>
                {{ block "credits" . }}{{ end }}
            </div>
        </footer>
    </body>
</html>
