{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
  {{ $paginator := .Paginator }}

  <!-- Add title for first page of tags -->
  {{ if not $paginator.HasPrev }}
    {{ if eq .Data.Plural "tags" }}
      <h1 class="title is-2">{{ .Title }}</h1>
    {{ end }}
  {{ end }}

  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end  }}

  <!-- Add return to home on last page -->
  {{ if not $paginator.HasNext }}
    {{ partial "list-end.html" . }}
  {{ end }}

  {{ partial "pagination.html" . }}
{{ end }}