@media (prefers-color-scheme: dark) {
    :root {
        --main-background-color: #000;
        --main-text-color: #f5f5f5;
        --link-hover-color: #767676;
        --grey: #767676;
    }

    .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, strong {
        color: var(--main-text-color);
    }

    code, .chroma {
        background-color: var(--main-background-color);
    }

    .title {
        color: var(--main-text-color);
    }

    .tags .tag, hr {
        background-color: #4a4a4a;
        color: #fff;
    }

    .greyscale {
        filter: grayscale(100%) invert(100%);
    }

    .pagination-link {
        background-color: var(--grey);
        color: var(--disabled-color);
    }

    .pagination-link.is-current {
        background-color: black;
        color: var(--grey);
    }

    .pagination-previous {
        background-color: var(--grey);
        border-color: var(--disabled-color);
        color: var(--disabled-color);
    }

    .pagination-link[disabled], .pagination-previous[disabled], .pagination-next[disabled] {
        background-color: var(--main-background-color);
    }

    .footer {
        background-color: #121212;
    }
}
