
@media (prefers-color-scheme: light) {
    :root {
        --main-background-color: #fff;
        --main-text-color: #4a4a4a;
        --disabled-color: #dbdbdb;
        --link-hover-color: #4a4a4a;
    }
}

.is-readable-column {
    min-height: 625px;
    max-width: 700px;
    line-height: 1.7;
}

ul.paging-example {
    margin-top: 0;
    margin-left: 0;
}

.paging-example li {
    list-style-type: none;
}

.pagination-link.is-current {
    background-color: var(--disabled-color);
    border-color: var(--disabled-color);
}

.hidden {
    display: none;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

.greyscale {
    filter: grayscale(100%);
}

.is-plain {
    color: var(--main-text-color);
}


/* Search */
.search {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
}

/* Footer */
.is-spaced-footer-link {
    margin-left: 3rem;
}

.credits {
    margin-top: 2em;
}

.has-text-grey {
    color: #767676 !important;
}

.has-text-underlined {
    text-decoration: underline;
}

/* Social media */
.share-link {
    margin-right: .25rem;
}

.rss-icon {
    vertical-align: sub;
}

.rss-button {
    fill: var(--main-text-color);
}

a:hover {
    color: var(--link-hover-color);
}

.rss-button:hover {
    fill: var(--link-hover-color);
}

/* Loading spinner - https://loading.io/css/ */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: rgba(14, 30, 37, 0.54) transparent rgba(14, 30, 37, 0.54) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* YouTube Shortcode */
div.youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

div.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:0;
}