<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ if not .IsHome }}{{ template "_internal/schema.html" . }}{{ end }}
    <title>
      {{ block "title" . }}
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}
      {{ end }}
    </title>
    {{ with .Site.Params.Description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.AppleTouchIcon }}<link rel="apple-touch-icon" href="{{ . }}">{{ end }}

    {{ if .RSSLink -}}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end -}}

    <!-- Styles -->
    {{ $bulma := resources.Get "bulma.css" }}
    {{ $friendly := resources.Get "friendly.css" }}
    {{ $style := resources.Get "style.css" }}
    {{ $styles := slice $bulma $friendly $style | resources.Concat "styles.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
</head>
