{{ define "header" }}
<!-- the title of the index page should be an h1 element to meet accessibility standards-->
<header class="title">
  <h1><a class="is-plain" href="/">{{ .Site.Title }}</a></h1>
</header>
{{ end }}
{{ define "main" }}
  {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end }}

  <!-- Add return to home on last page -->
  {{ if not $paginator.HasNext }}
    {{ partial "list-end.html" . }}
  {{ end }}

  {{ partial "pagination.html" . }}

  {{ partial "tags.html" . }}

  {{ partial "search.html" . }}
{{ end }}